/*------------------------------------Global---------------------------------*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-brand {
  margin-top: -11px;
}

.name {
  color: orange;
}

.nepal {
  color: red;
}

.bk {
  color: green;
}

h1 {
  font-family: "Arvo";
  font-weight: normal;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}


.description {
  font-family: "Arvo";
  font-weight: normal;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}

.description2 {
  font-family: "Arvo";
  font-weight: normal;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}








/*.skills ul li{
list-style: none;
display: flex;
width: 100px;
height: 200px;
}

.skills ul li i{
  width: 300px;
  height: 300px;
  list-style: none;
}*/

// includes the positioning of the elements on screen as well as the container of each slide.
.center {
  margin: 0 auto;
}








/*.content{ margin: 0 auto; width: 960px; }
*/

.clear {
  clear: both;
}

#slide1,
#slide2,
#slide3,
#slide4 {
  width: 100%;
}

#slide1 {
  background: url('../images/art.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 100px 0;
}

#slide2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#slide3 {
  background-color: #C5CDD0;
  color: black;
  height: 100vh;
}

#slide4 {
  background-color: white;
  color: black;
  height: 100vh;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contact h1 {
  color: #4FFEFF;
}

.email {
  color: inherit;
  text-decoration: none;
  color: white;
  font-family: 'Arvo', serif;
  font-weight: normal;
  margin: 0 auto;
}

.email a:link {
  text-decoration: none;
  color: orange;
}

.email a:hover,
a:active {
  color: white;
}


div#footer {
  width: 100%;
}

div#footer.container {
  display: inline;
  width: 100%;
  background-color: white;
  border-top: 1px solid #e7e7e7;
  padding-right: 15px;
}

div.container p {
  font-size: 16px;
  float: left;
  margin-top: 25.625px;
  margin-bottom: 25.625px;
  margin-left: 10px;
}


.copyright {
  color: #313131;
  -webkit-animation: colorchange 5s infinite;
}

.item {
  width: 70%;
  height: 70%;
}
.item active{
  width: 70%;
  height: 70%;
}

#myCarousel{
  background-color: white;
}


@-webkit-keyframes colorchange {
  0% {
    color: #FF0000;
  }
  10% {
    color: #E2571E;
  }
  20% {
    color: #FF7F00;
  }
  30% {
    color: #FFFF00;
  }
  40% {
    color: #00FF00;
  }
  50% {
    color: #96bf33;
  }
  60% {
    color: #0000FF;
  }
  70% {
    color: #4B0082;
  }
  80% {
    color: #8B00FF;
  }
  90% {
    color: #ffffff;
  }
  100% {
    color: pink;
  }
}


div.container .social {
  float: right;
  margin-top: 13.75px;
  margin-bottom: 13.75px;
  margin-right: 10px;
}

ul a i {
  padding-left: 10px;
  padding-right: 10px;
}








/*--------------------------------------------------Media Queries---------------------------------------*/

@media only screen and (min-width: 375px) {


  #slide1 {
    background: url('../images/art.jpg') 60% no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 100px 0
  }


  h1 {
    font-size: 21px;
  }

  .title,
  .description,
  .description2 {
    font-size: 21px;
  }


  #slide3 {
    background-color: #C5CDD0;
    color: black;
    height: 100%;
  }

  .email {
    font-size: 30px;
  }



  div.container p {
    font-size: 16px;
    float: left;
    margin-top: 25.625px;
    margin-bottom: 25.625px;
    margin-left: 10px;
  }

  div#footer.container {
    display: inline;
    width: 100%;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    padding-right: 15px;
  }


  div.container .social {
    float: right;
    margin-top: 13.75px;
    margin-bottom: 13.75px;
    margin-right: 10px;
  }
  */
}


@media only screen and (min-width: 550px) {


  h1 {
    font-size: 25px;
  }

  .title,
  .description,
  .description2 {
    font-size: 25px;
  }

  .email {
    font-size: 35px;
  }
}

@media only screen and (min-width: 650px) {

  .nav navbar-nav {
    font-size: 25px;
  }

  h1 {
    font-size: 35px;
  }

  .title,
  .description,
  .description2 {
    font-size: 35px;
  }

  #slide3 {
    height: 100%;
  }

  .email {
    font-size: 40px;
  }
}

@media only screen and (min-width: 800px) {


  .nav navbar-nav {
    font-size: 30px;
  }

  h1 {
    font-size: 35px;
  }

  .title,
  .description,
  .description2 {
    font-size: 35px;
  }

  #slide3 {
    height: 100%;
  }

  .email {
    font-size: 45px;
  }
}

@media only screen and (min-width: 960px) {

  .nav navbar-nav {
    font-size: 40px;
  }

  h1 {
    font-size: 40px;
  }

  .title,
  .description,
  .description2 {
    font-size: 40px;
  }

  #slide3 {
    height: 100%;
  }

  .email {
    font-size: 55px;
  }
}
